<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/styles.css">
	<title>Error: <%= error.status %></title>
</head>

<body>
	<h1>
		<img src="/error.png">
		<span>Error <%= error.status %></span>
	</h1>
	<p><%= message %></p>
</body>

</html>
