<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/styles.css">
	<title><%= title %></title>
</head>

<body>
	<h1>API Response</h1>
	<div class="column">
		<h2>Request:</h2>
		<p><%= request %></p>
	</div>
	<div class="column">
		<h2>Status:</h2>
		<p><%= status %></p>
	</div>
	<h2>Response:</h2>
	<p><%= response %></p>
	<br />
	<a href="https://github.com/frickerg">Fork me on GitHub 🚀</a>
</body>

</html>
